.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "title" "ct" "tdcinfo" "ccinfo" "tdc" "cc";
}

span.cct::before {
  content: "";
  display: block;
}

@media (min-width: 1200px) {
  .grid-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title title" "ct ct" "tdcinfo ccinfo" "tdc cc";
  }

  span.cct::before {
    display: inline;
    content: " - ";
  }
}
@media (min-width: 1600px) {
  .grid-container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "title title" "ct ct" "tdcinfo ccinfo" "tdc cc";
  }

  span.cct::before {
    display: inline;
    content: " - ";
  }
}
.tdc {
  grid-area: tdc;
}

.cc {
  grid-area: cc;
}

.title {
  grid-area: title;
}

#ct {
  grid-area: ct;
}

.tdcinfo {
  grid-area: tdcinfo;
}

.ccinfo {
  grid-area: ccinfo;
}

img {
  width: 2rem;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
}

#ct img {
  width:80%;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

article, .info {
  border-radius: 4px;
  overflow: hidden;
  margin: 1rem;
  font: 12px/1.1 system-ui, sans-serif;
}
article a, .info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}
article a:hover, article a:focus, .info a:hover, .info a:focus {
  color: #2196F3;
}
article h2, .info h2 {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  margin: 0;
}

article.tdc, .tdcinfo {
  background: #8b0e27;
}
article.tdc a:hover, article.tdc a:focus, .tdcinfo a:hover, .tdcinfo a:focus {
  color: #F6A2B3;
}

article.cc, .ccinfo {
  background: #416576;
}
article.cc a:hover, article.cc a:focus, .ccinfo a:hover, .ccinfo a:focus {
  color: #BDCFDB;
}

span.pubdate {
  display: block;
  color: #FFF;
  padding: 0rem 1rem 1rem 1rem;
}

span.tdct {
  font-family: "Montserrat", sans-serif;
}

span.cct {
  font-family: "Lora", serif;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.info a.twitter {
  margin-left: auto;
}
