body {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
  background: #FFF;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: "title title" "tdc cc";
}

.tdc {
  grid-area: tdc;
}

.cc {
  grid-area: cc;
}

.title {
  grid-area: title;
}

img {
  max-width: 100%;
  box-shadow: 0 0 3px #B0BEC5;
}

article {
  border-radius: 4px;
  overflow: hidden;
  margin: 1em;
  font: 12px/1.1 system-ui, sans-serif;
}
article a {
  text-decoration: none;
  color: #FFF;
}
article a:hover, article a:focus {
  color: #2196F3;
}
article h2 {
  padding: 1rem 1rem;
  margin: 0;
}

article.tdc {
  background: #8b0e27;
}

article.cc {
  background: #416576;
}

span.pubdate{
  display:block;
  color:#FFF;
  padding: 0rem 0rem 1rem 1rem;
}
